.todo-list__header {
  align-items: center;
  background-color: $header-bg-color;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;

  > .row {
    align-items: center;
  }
}